body{
	background-color: #9d9d9d;
}
.navigator{
	border: groove black 10px;
	border-radius: 30%;
}
.jumbo{
	background-color: #ffffff;
}
.midsec {
	background-color: #595959;
}
.foot{
	background-color: black;
}